.title{
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0%;
    
}
.preTitle{
    font-weight: 400; 
    font-size: 20px; 
     line-height: 100%;
    letter-spacing: 0%;
}
.details{
background: #5937E0;
width: 190;
height: 33;
font-size: 26px;

}
body{
        font-family: "Work Sans", sans-serif;

}

.contact-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #666;
  font-size: 0.9rem;
}

.icons{
  font-size: 27px;
} 

